@charset "utf-8";

$minW:1200px;

%ty_tr{ transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; -o-transition: all 0.3s; }

body{ font-family: '微软雅黑'; min-width: $minW; background-color: #fff; }

.demo{ width: 100px; }
.phone{ display: none; }
.ha{ height: auto !important; }
.oh{ overflow: hidden; }
@media screen and (min-width:0px) and (max-width:768px){
	body{ min-width: 0;
		.phone{ display: block; }
		.ty_con{ width: 100%; margin-top: 0; position: relative; z-index: 3; }
		.ty_swiper{ height: rem(620); overflow: hidden; position: relative; min-width: 0;
			img{ height: 100%; position: absolute; left: 50%; transform: translateX(-50%); width: auto; }
			.swiper-container{ height: rem(620); }
			.swiper-slide{ position: relative; overflow: hidden;}
			.icon_left,.icon_right{ display: none; }
			.pagination{ display: none; }
		}
		.ty_index_de1{ padding-top: rem(40); margin-bottom: rem(40); background: #fff;
			.big_img{ float: none; width: rem(370); border: rem(30) solid #fdb918; margin-left: rem(30); margin-bottom: rem(50); }
			.small_img{ float: right; width: rem(215); padding-top: 0; margin-right: rem(30)}
			.ty_tit_en{ margin: rem(20) 0 rem(40) rem(20); }
			.ty_tit_cn{ float: left; margin-bottom: 0; }
			.ty_text{ margin-bottom: rem(40);}
			.middle{ float: none; clear: both; width: 100%; margin-left: 0; text-align: justify;  padding-top: 0; box-sizing: border-box;  padding: 0 rem(30); }
			.ty_more{ float: left; margin: rem(100) 0 0 rem(80); }
		}
		.ty_index_de2{ margin-bottom: rem(120);
			.big_img{ float: right; margin-right: rem(30); border-color: #0073b6; }
			.small_img{ float: left; }
			.ty_tit_en{ background-color: #0073b6; }
			.ty_more{ float: right; margin: rem(100) rem(80) 0 0; }
		}
		.ty_text{ font-size: rem(20); color: #a0a0a0; line-height: rem(32);}
		.ty_tit_cn{ font-size: rem(50); }
		.ty_more{ display: inline-block; padding: rem(14) rem(26); font-size: rem(24);}
		.ty_tit_en{ padding: 0 rem(26); height: rem(36); line-height: rem(36); font-size: rem(20); }
		.ty_swiper_in{ width: 100%; height: rem(750); margin-bottom: rem(40); overflow: hidden;
			.swiper-container2{ height: rem(750); width: rem(1830); overflow: hidden; padding-left: rem(55) }
			.swiper-slide{ width: rem(610); }
			img{ width: rem(610); height: rem(610); }
			h3{ padding-top: rem(20); font-size: rem(30); }
			p{ font-size:rem(16); }
			.icon_left,.icon_right{ display: none; }
		}
		.ty_index_for{ text-align: center; margin-bottom: rem(10);
			.ty_more{ display: none; }
		}
		.ty_index_team{ padding: 0 rem(30);
			.left_img{ width: 100%; border: rem(30) solid #fdb918; float: none; box-sizing: border-box; }
			.ty_more{ margin: 0 auto; display: block; position: relative; left: 50%; transform: translateX(-50%); }
		}
		.ty_index_news{ width: 100%; text-align: center;
			.ty_tit_en{ background-color: #0073b6; padding: 0 70px; margin-bottom: rem(20); }
			.tit{ width: 100%; position: absolute; top: rem(50); text-align: center;}
			.news{ float: none; width: 100%; margin-left: 0; padding: 0 rem(30); box-sizing: border-box; text-align: left;
				li{ float: none; width: 100%; padding: rem(30) 0; border-bottom: 1px solid #c1c1c1; }
				h3{ font-size: rem(34); font-weight: normal; padding: 0; }
				p{ font-size: rem(20); color: #656565; line-height: rem(30); word-break: break-all; }
				i{ display: none; }
				.time1,.time2{ display: none; }
				.time3{ display: block; font-size: rem(26); color: #eabc2b; }
				img{ display: none; }
				&:first-child{ margin-left: 0; padding-top: rem(250); }
			}
			.ty_more{ position: static; margin: 0 auto; border-width: 0; background-color: #0073b6; color: #fff; margin: rem(90) 0; }
		}
		.backTop{ right: rem(30); z-index: 10; }
		.ty_bannar{ height: rem(400); width: 100%; min-width: 0; overflow: hidden; min-height: 0;
			img{ width: auto; height: rem(400); position: relative; left: 50%; transform: translateX(-50%); min-width: 0; min-height: 0; z-index: 9; }
		}
		.ty_text_con{ padding: rem(100) rem(30); margin-top: 0;
			h2{ font-size: rem(48); margin-bottom: rem(55); line-height: rem(70);
				span{ display: none; }
				.phone{ display: block !important; text-align: center; font-size: rem(24); color: #fdb918; }
			}
			p{ font-size: rem(28); line-height: rem(48); text-align: justify; text-indent: rem(56); }
			>img{ max-width: 100%; display: block; margin: rem(40) auto; }
			.two_pic{ margin: rem(40) auto;
				img{ float: left; width: 49%;
					&:last-child{ float: right; }
				}
			}
		}
		.ty_connect_con{ text-align: center; margin-top: 0;
			.ty_tit_en{ width: rem(250); margin-bottom: rem(40);}
			.ty_tit_cn{ margin-bottom: rem(10);}
			img{ width: auto; height: rem(280); position: relative; transform: translateX(-50%); }
			.location{ padding: rem(40) rem(30) 0;
				h3{ font-size: rem(36); margin-bottom: rem(10); }
				p{ font-size: rem(24); line-height: rem(48); margin-bottom: rem(20); }
			}
			.cooper{ width: 100%; padding: 0 rem(30); height: auto; box-sizing: border-box;
				>div{ float: none; width: 100%; padding: rem(30) 0 rem(10); border-bottom: 1px solid #a6a6a6; }
				h3{ color: #000; font-size: rem(36); }
				p{ color: #818181; font-size: rem(24); line-height: rem(48); margin-bottom: 0; }
				.m{ text-align: left; }
				.l{ text-align: left; border-right: 0; }
				.r{ text-align: left; border-left: 0; border-bottom: 0; }
			}
			.people{ width: 100%; padding: 0 rem(30); box-sizing: border-box;
				li{ margin-bottom: 0; padding: rem(50) 0 rem(20); border-bottom: 1px solid #a6a6a6; }
				h3{ font-size: rem(36); margin-bottom: rem(15); }
				p{ font-size: rem(24); line-height: rem(48); margin-bottom: rem(20); padding-left: 0; 
					span{ display: inline; position: static; }
				}
			}
			.blue{ padding: rem(100) rem(30) 0; font-size: rem(24); line-height: rem(36); width: auto; margin: 0 auto; margin-bottom: rem(240); }
			.you_submit{ display: none; }
			.ty_connect1{ padding: rem(50) 0;}
			.ty_connect2{ padding-bottom: rem(100); }
		}
		.icon{ width: rem(40); height: rem(40); background-size: rem(120) rem(40); }
		.icon_qq{ background-position: rem(-40) 0; }
		.icon_wx{ background-position: rem(-80) 0; }
		.icon_bottom{ background-size: rem(40) rem(40); margin-top: rem(100); }
		.ty_nav,.ty_nav2{ height: rem(118); line-height: rem(118); width: 100%; min-width: 0; position: static; border-bottom: rem(10) solid #0073b6; position: relative; box-sizing: border-box;
			.ty_nav_in{ text-align: center; }
			.logo{ float: none; margin-left: 0; padding-top: 0;
				img{ width: rem(270); padding-top: rem(15); display: inline-block; }
			}
			.nav{ display: none; }
			&:after{ content: ""; position: absolute; right: 0; bottom: rem(-10); width: 50%; height: rem(10); background-color: #fdb918; }
		}
		.icon_menu{ width: rem(60); height: rem(60); display: block; position: absolute; right: rem(30); top: rem(24); background-size: rem(60) rem(60); background-image: url("../../images/ty/phone_menu.png"); background-color: #fff; }
		.open_nav{ 
			.ty_nav_in{ height: auto; }
			.icon_menu{ background-image: url("../../images/ty/phone_close.jpg"); }
			.nav{ display: block; float: none; color: #fff; font-size: 14px; margin-left: 0; height: 100%; position: fixed; left: 0; top: rem(118); z-index: 11; width: 100%; background-color: #fff; padding-top: rem(50);
				>li{ float: none; padding: 0; cursor: pointer; position: relative; line-height: rem(60);
					>span,>a{ color: #808080; 
						
					}
					&:after{
						content: ""; width: 1px; height: 2px; background-color: #eaeaea; height: rem(64); display: block; margin: 0 auto;
					}
					&:last-child{
						&:after{ display: none; }
					}
					&:hover{ 
						ul{ display: block; }
						>span,>a{  color: #0073b6;
							&:after{
								content: ""; position: absolute; left: 0; top: rem(54); width: 100%; height: 2px; background-color: #fdb918;
							}
						}
						i{ border-color: #0073b6; }
					}
					ul{ position: static; display: block; z-index: 11; background-color: #fff; padding: 0 15px; margin-left: 0;  }
					li{ line-height: rem(60); white-space: nowrap; font-size: 12px;
						a{ color: #919191; }
					}
				}
				.on{
					>a,>span{ position: relative;
						&:after{content: ""; position: absolute; left: 0; top: rem(54); width: 100%; height: 2px; background-color: #fdb918;}
					}
				}
				a{ color: #fff; }
				i{ display: inline-block; margin: rem(8); margin-left: rem(16); border-right: 1px solid; border-bottom: 1px solid; width: 7.5px; height: 7.5px;  border-color: #808080; transform: rotate(45deg); }
			}
		}
	}
}
// 导航
.ty_nav{ height: 140px; line-height: 140px; width: 100%; min-width: 1260px; position: absolute; top: 0; left: 0; z-index: 9;
	.ty_nav_in{ @extend .clearfix; }
	.logo{ float: left; margin-left: 75px; padding-top: 20px; }
	.nav{ float: left; color: #fff; font-size: 14px; margin-left: 30px;
		>li{ float: left; padding: 0 25px; cursor: pointer; position: relative;
			&:hover{
				ul{ display: block; }
			}
			ul{ position: absolute; top: 90px; left: 25px; display: none; }
			li{ line-height: 40px; white-space: nowrap; }
		}
		a{ color: #fff; }
		i{ display: inline-block;  
        margin: 4px; margin-left: 15px;
        border-right: 1px solid; border-bottom: 1px solid;  
        width: 7.5px; height: 7.5px;  
        transform: rotate(45deg); }
	}
}
.ty_nav2{ height: 80px; line-height: 80px; width: 1200px; margin: 0 auto;
	.ty_nav_in{ @extend .clearfix; height: 80px; }
	.logo{ float: left; padding-top: 13px;
		img{ display: block; }
	}
	.nav{ float: right; color: #4c4c4c; font-size: 14px; margin-left: 30px;
		>li{ float: left; padding: 0 25px; cursor: pointer; position: relative;
			&:hover{ color: #0073b6;
				ul{ display: block; }
				>a,>span{ display: inline-block; position: relative;
					&:after{
						content: ""; position: absolute; left: 0; top: 55px; width: 100%; height: 2px; background-color: #fdb918;
					}
				}
			}
			&:after{

			}
			ul{ position: absolute; top: 70px; left: 25px; display: none; z-index: 9; background-color: #fff; padding: 0 15px; margin-left: -15px;  }
			li{ line-height: 40px; white-space: nowrap; }
		}
		a{ color: #4c4c4c; 
			&:hover{ color: #0073b6; }
		}
		.on{
			>a,>span{ color: #0073b6 }
			i{ display: block; }
		}
		i{ display: inline-block;  
        margin: 4px; margin-left: 15px;
        border-right: 1px solid; border-bottom: 1px solid;  
        width: 7.5px; height: 7.5px;  
        transform: rotate(45deg); }
	}
}
// 首页
.ty_con{ width: 1260px; background-color: #fff; margin: 0 auto; margin-top: -60px; position: relative; z-index: 3; }
.ty_swiper{ height: 720px; overflow: hidden; position: relative; width: 100%; min-width: 1260px;
	img{ height: 100%; position: absolute; left: 50%; transform: translateX(-50%);width: 100%; }
	.swiper-container{ height: 720px; }
	.swiper-slide{ position: relative; overflow: hidden;}
	.icon_left,.icon_right{ position: absolute; top: 50%; margin-top: -20px; right: 50px; z-index: 4; cursor: pointer; }
	.icon_left{ left: 50px; }
	.pagination{
		position: absolute; left: 50%; margin-left: -630px; width: 1260px; bottom: 100px; z-index: 10;
		.swiper-pagination-switch{ display: inline-block; width: 30px; height: 2px; background-color: #c4c4c4; margin-right: 10px; }
		.swiper-active-switch{ background-color: #fff; }
	}
}
.ty_index_de1{ padding-top: 80px;
	@extend .clearfix;
	margin-bottom: 100px;
	background: url("../../images/ty/test.png") no-repeat center center;
	.big_img{ float: left; border: 20px solid #fdb918; margin-left: 60px;}
	.small_img{ float: right; padding-top: 40px; margin-right: 10px}
	.ty_tit_en{ margin-bottom: 40px; }
	.ty_tit_cn	{ margin-bottom: 20px; }
	.ty_text{ margin-bottom: 30px;}
	.middle{ float: left; width: 520px; margin-left: 65px; text-align: justify;  padding-top: 70px}
	.ty_tit_en{ background-color: #fdb918; }
}
.ty_index_de2{ padding-top: 0;
	@extend .ty_index_de1;
	background: url("../../images/ty/test2.png") no-repeat center center;
	.big_img{ float: right; border: 20px solid #0073b6; margin-left: 0; margin-right: 60px;}
	.small_img{ float: left; padding-top: 40px; margin-right: 0; margin-left: 10px;}
	.ty_tit_en{ background-color: #0073b6; }
	.middle{ float: right; margin-left: 0; margin-right: 65px;}
}
.big_img{ width: 300px; }
.ty_tit_cn{ font-size: 30px; color: #000; }
.ty_text{ font-size: 12px; color: #a0a0a0; line-height: 24px;}
.small_img{ width: 200px; margin-right: 10px; }
.ty_more{ display: inline-block; padding: 18px 40px; color: #585858; border: 1px solid #c1c1c1; font-size: 16px;}
.ty_tit_en{
	display: inline-block;
	padding: 0 40px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.ty_index_for{ text-align: center; margin-bottom: 100px;
	.ty_tit_en{ padding: 0 50px; border-left: 20px solid #fdb918; border-right: 20px solid #fdb918; background-color: #0073b6; margin-bottom: 20px;}
	.ty_tit_cn{ margin-bottom: 30px;}
}

.ty_index_team{ padding-top: 0;
	@extend .ty_index_de1;
	background: url("../../images/ty/test3.png") no-repeat center center;
	.left_img{ width: 600px; border: 20px solid #fdb918; float: left;}
}
.ty_swiper_in{ width: 1260px; height: 500px; margin-bottom: 20px; position: relative;
	.swiper-container2{ height: 500px; overflow: hidden; }
	.swiper-slide{ width: 400px; }
	img{ display: block; width: 400px; height: 400px; }
	h3{ padding-top: 20px; font-size: 18px; color: #000; }
	p{ font-size: 12px; color: #7c7c7c; }
	.icon_left,.icon_right{ position: absolute; top: 50%; margin-top: -65px; right: 0px; z-index: 4; cursor: pointer; }
	.icon_left{ left: -20px; }
}
.ty_index_news{ width: 1100px; margin: 0 auto; @extend .clearfix; position: relative;
	.ty_tit_en{ background-color: #0073b6; padding: 0 70px; margin-bottom: 20px; }
	.tit{ width: 500px; position: absolute; top: 50px; text-align: center;}
	.news{ @extend .clearfix; float: left; width: 500px; margin-left: 100px;
		li{ float: left; width: 500px; padding-bottom: 60px;}
		h3{ font-size: 34px; font-weight: bold; padding: 18px 0 12px; }
		p{ font-size: 12px; color: #656565; line-height: 24px; }
		i{ display: block; width: 100px; height: 1px; background-color: #e8e8e8; margin: 20px 0 16px; }
		.time1{ display: block; color: #eabc2b; font-size: 14px; }
		.time2{ display: block; color: #535353; font-size: 12px; }
		.time3{ display: none; }
		img{ width: 100%; }
		&:first-child{ margin-left: 0; padding-top: 200px; }
	}
	.ty_more{ position: absolute; right: 0; bottom: 0;  border: 60px solid #0073b6; border-width: 40px 60px; }
}
// 内容页
.ty_bannar{ height: 400px; width: 100%; min-width: 1260px; overflow: hidden; min-height: 400px;
	img{ height: 100%; position: relative; left: 50%; transform: translateX(-50%); min-width: 100%; min-height: 100%; }
}
.ty_text_con{ padding: 120px 60px 100px; margin-top: -130px;
	h2{ text-align: center; font-size: 30px; color: #0073b6; margin-bottom: 100px;
		span{ display: block; text-align: center; font-size: 14px; color: #535353; margin-top: 20px; }
		strong{ font-size: 30px; color: #fdb918; margin-right: 12px; }
	}
	p{ font-size: 14px; color: #818181; line-height: 32px; }
	>img{ max-width: 100%; display: block; margin: 40px auto; }
	.two_pic{ @extend .clearfix; margin: 40px auto;
		img{ float: left; width: 49%;
			&:last-child{ float: right; }
		}
	}
}

// 联系我们
.ty_connect_con{ text-align: center; margin-top: -130px;
	.ty_tit_en{ background-color: #fdb918; padding: 0; width: 150px; margin-bottom: 40px;}
	.ty_tit_cn{ margin-bottom: 10px;}
	img{ width: 1110px;}
	.location{ padding-left: 200px; text-align: left; padding-top: 40px;
		h3{ color: #000; font-size: 24px; margin-bottom: 10px; }
		p{ color: #818181; font-size: 14px; line-height: 32px; margin-bottom: 20px; }
	}
	.cooper{ @extend .clearfix; width: 1110px; margin: 0 auto; padding-top: 40px; height: 165px;
		>div{ float: left; width: 369px; }
		h3{ color: #000; font-size: 24px; }
		p{ color: #818181; font-size: 14px; line-height: 30px; margin-bottom: 10px; }
		.l{ text-align: left; border-right: 1px solid #787878; }
		.r{ text-align: right; border-left: 1px solid #787878; }
	}
	.people{ width: 800px; margin: 0 auto; padding-top: 40px; text-align: left;
		li{ margin-bottom: 50px; }
		h3{ color: #000; font-size: 24px; margin-bottom: 15px; }
		p{ color: #818181; font-size: 14px; line-height: 24px; margin-bottom: 10px; padding-left: 70px; position: relative;
			span{ display: block; position: absolute; top: 0; left: 0; }
		}
	}
	.blue{ padding-top: 140px; color: #0073b6; font-size: 14px; line-height: 24px; text-align: left; width: 800px; margin: 0 auto; margin-bottom: 25px; }
	.you_submit{ width: 800px; margin: 0 auto; text-align: left; padding-bottom: 200px;
		input[type=text],textarea{ border: 1px solid #e9e9e9; height: 40px; line-height: 24px; color: #828282; width: 798-40px; margin-bottom: 20px; padding: 0 20px; display: block; }
		textarea{ height: 100-16px; padding: 8px 20px; }
		input[type=submit]{ width: 80px; height: 40px; font-size: 12px; line-height: 40px; text-align: center; border: 1px solid #e9e9e9; border-radius: 0; }
	}
	.ty_connect1{ padding: 50px 0;}
	.ty_connect2{ padding-bottom: 130px; }
}
.icon{ display: inline-block; width: 40px; height: 40px; background-image: url("../../images/ty/icons.png") }
.icon_wb{ background-position: 0 0; }
.icon_qq{ background-position: -40px 0; }
.icon_wx{ background-position: -80px 0; }
.icon_bottom{ background-image: url("../../images/ty/left.png"); transform: rotate(-90deg) }
.icon_left{ background-image: url("../../images/ty/left.png"); }
.icon_right{ background-image: url("../../images/ty/right.png"); }
.backTop{ cursor: pointer; position: fixed; bottom: 80px; right: 50px; }
// 动画

.ty_index_de1,.ty_index_news li,.xn_common_box>div,.ty_nav_in .logo,.ty_nav_in .nav,.xn_brand_list img,.ty_connect_con p,.ty_connect_con img,.you_submit,.xn_news_slider,.xn_news_items p,.xn_news_items img,.ty_text_con p,.ty_text_con img,.xn_news_list li,.xn_items_txt{
	opacity: 0;
	filter: alpha(opacity=0);
}

.an_toTop {
    animation: toTop 0.5s linear 0s;
    -webkit-animation: toTop 0.5s linear 0s;
    -ms-animation: toTop 0.5s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.an_toBottom {
    animation: toBottom 0.5s linear 0s;
    -webkit-animation: toBottom 0.5s linear 0s;
    -ms-animation: toBottom 0.5s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.an_show {
    animation: show 0.7s linear 0s;
    -webkit-animation: show 0.7s linear 0s;
    -ms-animation: show 0.7s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.an_toRight {
    animation: toRight 0.5s linear 0s;
    -webkit-animation: toRight 0.5s linear 0s;
    -ms-animation: toRight 0.5s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.an_toLeft {
    animation: toLeft 0.5s linear 0s;
    -webkit-animation: toLeft 0.5s linear 0s;
    -ms-animation: toLeft 0.5s linear 0s;
    animation-fill-mode : both;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
@mixin an_delay($num1,$num2){
	@for $i from $num1 through $num2{
		.an_delay#{$i}{ animation-delay: 0.1s*$i; }
	}
}
@include an_delay(1,40);

@keyframes toTop{
	0%{ transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes toTop{
	0%{-webkit-transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{-webkit-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes toTop{
	0%{-ms-transform:translate3d(0px,100px,0); opacity: 0;filter: alpha(opacity= 0);}
	100%{-ms-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@keyframes toBottom{
	0%{ transform:translate3d(0px,-100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes toBottom{
	0%{-webkit-transform:translate3d(0px,-100px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{-webkit-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes toBottom{
	0%{-ms-transform:translate3d(0px,-100px,0); opacity: 0;filter: alpha(opacity= 0);}
	100%{-ms-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@keyframes toRight{
	0%{ transform:translate3d(-100px,0px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes toRight{
	0%{-webkit-transform:translate3d(-100px,0px,0px); opacity: 0;filter: alpha(opacity= 0); }
	100%{-webkit-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes toRight{
	0%{-ms-transform:translate3d(-100px,0px,0); opacity: 0;filter: alpha(opacity= 0);}
	100%{-ms-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@keyframes toLeft{
	0%{ transform:translate3d(100px,0px,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{ transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes toLeft{
	0%{-webkit-transform:translate3d(100px,0,0); opacity: 0;filter: alpha(opacity= 0); }
	100%{-webkit-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes toLeft{
	0%{-ms-transform:translate3d(100px,0px,0); opacity: 0;filter: alpha(opacity= 0);}
	100%{-ms-transform:translate3d(0px,0px,0); opacity: 1;filter: alpha(opacity= 100);}
}
@keyframes show{
	0%{  opacity: 0;filter: alpha(opacity= 0); }
	100%{ opacity: 1;filter: alpha(opacity= 100);}
}
@-webkit-keyframes show{
	0%{ opacity: 0;filter: alpha(opacity= 0); }
	100%{ opacity: 1;filter: alpha(opacity= 100);}
}
@-ms-keyframes show{
	0%{  opacity: 0;filter: alpha(opacity= 0);}
	100%{ opacity: 1;filter: alpha(opacity= 100);}
}
