$main_width:1260px;
$font-12:12px;
$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-22:22px;
$font-24:24px;
$font-30:30px;
body {
    width: 100%;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    font-family: "microsoft yahei";
}

@media screen and (min-width:0px) and (max-width:768px) {
    body {
        min-width: 0;
        .xn_news_items {
            width: 96%;
            float: none;
            margin: 0 auto;
            .items_pic {
                width: 100%;
            }
            .xn_txt_date{
                font-size: rem(26);
                padding: rem(15) 0; 
            }
            .xn_items_txt {
               
            }
        }
        .main_box {
            width: 100%;
        }
        .xn_common_box {
            width: 100%;
            overflow: hidden;
            min-height: 0;
        }
        .xn_common_footer{
            background-position: center rem(590);
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
        .xn_common_rbox {
            width: 94%;
            float: none;
            margin: 0 auto rem(20);
            font-size: rem(26);
            .btn_submit {
                margin-top: rem(12);
                letter-spacing: rem(15);
                padding: rem(12) 0;
                font-size: rem(30);
                border-radius: 0;
                margin-bottom: rem(70);
            }
            .ty_nav_in,.ty_nav2{
                display: none;
            }
        }
        .xn_common_lbox {
            width: 94%;
            float: none;
            margin: 0 auto;
            .company_name {
                font-size: rem(30);
                padding: rem(35) 0 rem(25);
            }
            .company_txt {
                font-size: rem(22);
                line-height: rem(40);
            }
            .company_contact {
                span {
                    display: block;
                }
                img{ height: rem(300); }
                
            }
        }
        .xn_about_items {
            width: 100%;
            margin: 0 auto;
            li {
                float: none;
                width: 100%;
                margin-right: 0;
                img {
                    width: 100%;
                    margin-top: rem(10);
                }
                p {
                    font-size: rem(18);
                    margin-top: rem(10);
                    margin-bottom: rem(10);
                }
            }
        }
        .xn_about_top {
            margin-bottom: rem(30);
            .xn_about_gs {
                padding-top: 0;
                width: 100%;
                .title {
                    font-size: rem(30);
                }
            }
            .xn_about_txt {
                margin-left: 0;
                width: 100%;
                ul {
                    li {
                        font-size: rem(24);
                    }
                }
            }
            ul {
                .about_title {
                    padding: rem(25) 0;
                    font-size: rem(28);
                }
            }
        }
        .xn_about_title {
            margin-top: rem(40);
            margin-bottom: rem(75);
            .title {
                font-size: rem(30);
            }
        }
        .xn_about_bottom {
            padding-top: rem(30);
            .title {
                font-size: rem(30);
                margin-bottom: rem(30);
            }
        }
        .xn_common_box {
            padding: rem(30) 0;
        }
        .xn_common_footer {
            .copyright {
                background: #fff;
                color: #000;
                font-size: rem(24);
                padding: rem(20);
            }
        }
        .xn_news_slider {
            width: 100%;
            float: none;
            margin: 0 auto;
            .xn_slider_top {
                display: none;
            }
            ul {
                width: 100%;
                border-bottom: 1px solid #0073b6;
                display: table;
                li {
                    
                    text-align: center;
                    float: left;
                    box-sizing: border-box;
                    border-bottom: 0;
                    font-size: rem(26);
                    padding: rem(20) 0;
                    padding-left: rem(36);
                    font-size: rem(24);
                }
                li.active:before {
                    width: rem(20);
                    height: rem(20);
                    background: #fdb918;
                    content: "";
                    position: absolute;
                    left: rem(10);
                    top: rem(26);
                }
            }
        }
        .about_margin_top {
            margin-top: rem(20);
        }
        .xn_pro_infos {
            width: 100%;
            .xn_infos_title {
                font-size: rem(32);
                margin: rem(20) 0;
            }
        }
        .main_box {
            display: block;
            margin: 0 auto;
        }
        .xn_pro_infos {
            margin-bottom: 0;
        }
        .xn_pages {
            display: none;
        }
        .xn_news_items {
            padding-bottom: rem(50);
            .xn_txt_title {
                font-size: rem(30);
                padding: rem(20) 0;
            }
            .xn_txt_subtitle {
                font-size: rem(24);
                line-height: rem(34);
            }
            .xn_news_list {
                li {
                    padding: rem(30) 0;
                }
                li:last-child {
                    border-bottom: none;
                }
            }
            .xn_date_year {
                font-size: rem(24);
            }
        }
        .xn_brand_list {
            img {
                width: rem(90);
                height: rem(90);
            }
        }
        .xn_brand_box {
            a {
                margin: rem(29);
            }
        }
        .xn_brand_box {
            .title {
                padding: rem(20) 0;
                font-size: rem(40);
            }
            .xn_brand_list {
                margin-bottom: rem(40);
            }
        }
        .xn_brand_box a:nth-child(5n+5) {
            margin: rem(29);
        }
        .main_box {
            min-height: auto;
        }
        .xn_pro_txt {
            font-size: rem(24);
            .title {
                font-size: rem(34);
                margin: rem(18) 0;
            }
            p {
                margin: rem(16) 0;
                line-height: rem(35);
            }
        }
        .xn_common_line {
            height: rem(10);
            .line_yellow {
                height: rem(10);
            }
        }
    }
}

.main_box {
    width: $main_width;
    margin: 0 auto 70px;
    display: table;
    background: #fff;
    overflow: hidden;
    min-height: 800px;
}

.xn_news_slider {
    float: left;
    width: 300px;
    text-align: center;
    .xn_slider_top {
        margin: 90px 0 70px;
    }
    .title {
        font-size: $font-30;
        color: #000000;
        margin-bottom: 10px;
    }
    .subtitle {
        width: 160px;
        margin: 0 auto;
        background: #0073b6;
        color: #fff;
        font-size: $font-12;
        height: 36px;
        line-height: 36px;
    }
    .pro_subtitle {
        background: #fdb918;
        span {
            display: block;
            width: 80%;
            height: 100%;
            margin: 0 auto;
            background: #0073b6;
        }
    }
    .mainb_subtitle {
        background: #0073b6;
        span {
            display: block;
            width: 80%;
            height: 100%;
            margin: 0 auto;
            background: #fdb918;
        }
    }
    ul {
        width: 160px;
        margin: 0 auto;
        li {
            padding: 15px 0;
            border-bottom: 1px solid #0073b6;
            font-size: $font-18;
            text-align: left;
            position: relative;
            padding-left: 30px;
        }
        li:last-child {
            border: none;
        }
    }
    a {
        color: #727272;
    }
    li.active:before {
        width: 15px;
        height: 15px;
        background: #fdb918;
        content: "";
        position: absolute;
        left: 5px;
        top: 21px;
    }
    li.active {
        a {
            color: #0073b6;
        }
    }
}

.xn_news_items {
    float: right;
    width: 960px;
    margin-top: 230px;
    .xn_news_list {
        li {
            padding: 55px 0;
            border-bottom: 1px solid #dadada;
        }
    }
    .xn_items_txt {
        width: 67%;
        display: inline-block;
        vertical-align: top;
    }
    .xn_txt_title {
        font-size: $font-20;
        color: #000000;
        padding: 10px 0;
    }
    .xn_txt_subtitle {
        font-size: $font-14;
        color: #595959;
        line-height: 24px;
    }
    .xn_txt_date {
        text-align: center;
        margin-top: 10px;
        font-size: $font-30;
        color: #0073b6;
        background: #ccc;
        width: 26%;
        display: inline-block;
        margin-right: 2%;
        vertical-align: top;
        font-size: 18px;
        padding: 8px 0;
    }
}

.xn_pages {
    margin: 60px auto 120px;
    text-align: center;
    .page {
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
        font-size: $font-18;
        color: #fff;
        background: #0073b6;
    }
    .current {
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        display: inline-block;
        margin-right: 15px;
        cursor: pointer;
        font-size: $font-18;
        color: #fff;
        background: #fdb918;
    }
}

.xn_news_footer {
    width: 100%;
    border-top: 1px solid #d1d1d1;
    color: #8f8f8f;
    .xn_footer_main {
        width: $main_width;
        margin: 95px auto;
        font-size: $font-18;
        clear: both;
        display: table;
    }
    .copyright {
        clear: both;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        font-size: $font-14;
    }
    a {
        color: #8f8f8f;
        margin-right: 30px;
    }
}

.xn_footer_links {
    float: left;
    width: 70%;
}

.xn_footer_icon {
    float: right;
    .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-image: url("../../images/ty/icons.png")
    }
    a {
        display: inline-block;
        margin-right: 0;
    }
    .icon_qq {
        background-position: 0 -2px;
    }
    .icon_wx {
        background-position: -40px -2px;
    }
    .icon_pyq {
        background-position: -80px -2px;
    }
    .icon_wb {
        background-position: -120px -2px;
    }
    .icon_bd {
        background-position: -160px -2px;
    }
}

.xn_about_box {
    width: 100%;
    overflow: hidden;
}

.xn_about_top {
    width: 100%;
    margin-bottom: 70px;
    .xn_about_gs {
        width: 40%;
        padding-top: 12px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
            margin-bottom: 20px;
        }
        .title {
            text-align: center;
            color: #000000;
            font-size: $font-16;
        }
    }
    .xn_about_txt {
        margin-left: 35px;
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
    ul {
        li {
            font-size: $font-12;
            color: #333;
            padding: 20px 0;
            border-bottom: 1px solid #eee;
        }
        li:first-child {
            padding-top: 10px;
        }
        li:last-child {
            border-bottom: 0;
        }
        .about_title {
            padding: 15px 0;
            font-size: $font-16;
        }
    }
}

.xn_about_title {
    width: 100%;
    text-align: center;
    color: #0073b6;
    margin-bottom: 95px;
    .title {
        font-size: $font-30;
    }
    .subtitle {
        font-size: $font-12;
    }
}

.xn_about_bottom {
    font-size: $font-12;
    color: #333;
    border-top: 1px solid #d3d3d3;
    padding-top: 100px;
    .title {
        font-size: $font-20;
        color: #333;
        margin-bottom: 30px;
    }
}

.xn_about_items {
    width: 100%;
    margin: 50px auto 140px;
    display: table;
    li {
        float: left;
        width: 31.5%;
        margin-right: 26px;
        overflow: hidden;
        box-sizing: border-box;
        a {
            display: block;
            color: #999;
        }
        p {
            margin-top: 20px;
            line-height: 22px;
        }
    }
    li:nth-child(3n+3) {
        margin-right: 0;
    }
}

.pro_banner {
    width: 100%;
}

.pro_margin_top {
    margin-top: -140px;
    position: relative;
}

.about_margin_top {
    margin-top: -530px;
    position: relative;
}

.xn_pro_infos {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
    overflow: hidden;
    .xn_infos_title {
        font-size: $font-22;
        color: #161616;
        margin-bottom: 10px;
    }
    img {
        width: 100%;
        margin: 10px 0;
        object-fit: cover;
    }
}

.xn_pro_txt {
    font-size: $font-14;
    color: #818181;
    p {
        margin: 6px 0;
        line-height: 25px;
    }
}

.xn_common_footer {
    width: 100%;
    overflow: hidden;
    background: url(../../../ForWork/images/ty/XN_I_2.png) no-repeat;
    min-height: 400px;
    background-color: #000000;
    background-position: center center;
    .copyright {
        color: #fff;
        text-align: center;
        font-size: $font-14;
        padding-bottom: 30px;
    }
}

.xn_common_box {
    width: $main_width;
    margin: 0px auto;
    padding: 70px 0;
    min-height: 400px;
    color: #ffffff;
}

.xn_common_lbox {
    float: left;
    .company_name {
        font-size: $font-24;
        padding: 25px 0 15px
    }
    .company_txt {
        font-size: $font-12;
        line-height: 30px;
    }
    .company_contact {
        margin-top: 10px;
        .icon {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-image: url("../../images/ty/XN_contact.png");
            background-repeat: no-repeat;
        }
        .icon_wb {
            background-position: 0 0;
        }
        .icon_qq {
            background-position: -40px 0;
        }
        .icon_wx {
            background-position: -80px 0;
        }
    }
}

.xn_common_rbox {
    float: right;
    font-size: $font-16;
    text-align: right;
    a{
        color: #fff !important;
        cursor: pointer;
    }
    .ty_nav_in,.ty_nav2{
        width: 800px;
        li{
            span{
                color: #fff;
            }
        }
    }
    .ty_nav2 .nav > li ul{
        background: transparent;
        display: block;
    }
    
    input {
        border: none;
        width: 100%;
        display: block;
        border-bottom: 1px solid #fff;
        background: none;
        padding: 8px 0;
        color: #fff;
        margin-bottom: 10px;
        outline: none;
    }
     ::-webkit-input-placeholder {
        color: #fff;
    }
    .content {
        border: none;
        width: 100%;
        display: block;
        border-bottom: 1px solid #fff;
        background: none;
        padding: 8px 0;
        color: #fff;
        outline: none;
        resize: none;
        height: 60px;
    }
    .btn_submit {
        background: #fdb918;
        border: none;
        margin-top: 12px;
        cursor: pointer;
        color: #000;
        letter-spacing: 5px;
        padding: 10px 0;
        font-size: $font-20;
    }
}

.xn_brand_box {
    width: 88%;
    margin: 0 auto;
    .title {
        font-size: $font-30;
        color: #0073b6;
        padding: 140px 0 130px;
        text-align: center;
    }
    a {
        margin: 30px 40px;
    }
    a:nth-child(5n+5) {
        margin-right: 0;
    }
}

.xn_brand_list {
    img {
        width: 140px;
        height: 140px;
    }
}

.xn_mainb_infos {
    .title {
        font-size: $font-24;
        color: #000000;
        margin: 8px 0;
    }
}

.xn_common_line {
    width: 100%;
    height: 12px;
    background: #0073b6;
    position: relative;
    .line_yellow {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 12px;
        background: #fdb918;
    }
}